@charset "utf-8";

/* input 자동완성 스타일 */
input[type="text"]:autofill,
input[type="text"]:autofill:focus,
input[type="text"]:autofill:hover,
input[type="text"]:autofill:active{
    -webkit-text-fill-color: #9BA5B9;
}
input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover,
input[type="text"]:-webkit-autofill:focus,
input[type="text"]:-webkit-autofill:active{
    -webkit-text-fill-color: #9BA5B9;
}

.half-chart{ position:relative; display:inline-block; width:63rem; height:37.35rem; background:url(../images/icon/half-chart-bg.svg)}
.half-chart-needle{position:absolute; left:13rem; bottom:3rem; display:inline-block; width: 22rem; height: 6rem; transform:rotate(0deg); transform-origin:19rem 3rem; transition:transform ease 1.5s; background: url(../images/icon/needle.svg) no-repeat;}
.half-chart-txt{padding-top:39rem; font-size:18rem; text-align:center; color:#a5a7ac;}

.half-chart-tooltip{position:absolute; right:-21rem; bottom:-26rem; z-index:1; width:24rem; height:24rem;}
.half-chart-tooltip > i{display:block; width:100%; height:100%; border-radius:100%; background:url(../images/icon/tooltip_icon_alert.svg) no-repeat; background-size:cover;}
.half-chart-tooltip:hover > .half-chart-tooltipcontent{display:block;}
.half-chart-tooltip > .half-chart-tooltipcontent{position:absolute; bottom:-9rem; left:calc(50% - 1.5rem); z-index:5; display:none; padding:15rem 15rem 11rem 12rem; font-size:11rem; color:#fff; white-space:nowrap; transform:translate(-50%,calc(100% - 5rem)); border:1rem solid #12141C; background:#333A48;}
.half-chart-tooltip > .half-chart-tooltipcontent:before{content:""; position:absolute; top:-1.5rem; left:50%; z-index:2; width:10rem; height:10rem; border:1rem solid #12141C; border-width:1rem 0rem 0 1rem; transform:translate(-50%, -40%) rotate(45deg); background:#333A48;}
.half-chart-tooltip > .half-chart-tooltipcontent:after{content:""; position:absolute; top:-25rem; right:0; bottom:0; left:0; z-index:1;}

.half-chart-tooltip.right > .half-chart-tooltipcontent{left:auto; right:0; transform:translate(0, calc(100% - 5rem));}
.half-chart-tooltip.right > .half-chart-tooltipcontent:before{left:auto; right:4rem;}


/* dot list */
.simple-dot-list > li{position:relative; padding:0 0 0 7rem; font-size:11rem; font-weight:300;}
.simple-dot-list > li:before{content:""; position:absolute; top:calc(50% - 1rem); left:0; width:1rem; height:1rem; background:#fff;}
.simple-dot-list > li + li{margin-top:7rem;}
.simple-dot-list.t2 > li{font-size:12rem; color:#fff; font-weight:bold;}
.simple-dot-list.t2 > li:before{width:3rem; height:3rem;}
.simple-dot-list.t2 > li + li{margin-top:19rem;}


/* tab content */
.wrap .main .content > .inner{display:none !important;}
.wrap .main .content > .inner.on{display:flex !important;}

/* icon */
.icon-circle-type{display:inline-block; width:13rem; height:13rem; background: url(../../images/icon/icon_shape_x.svg) no-repeat; background-size:cover}
.icon-circle-type.x{background-image: url(../../images/icon/icon_shape_x.svg);}
.icon-circle-type.o{background-image: url(../../images/icon/icon_shape_o.svg);}


/* main-tap  style 옮기가*/
.main-tap{height:calc(100% - 132rem);}

/* style 합치기 */
.wrap .main .main-tap .menu{height:47rem;}
.wrap .main .content{/*height:calc(100% - 47rem);*/}
.wrap .main .content > .inner{height:100%;}
.wrap .main .content > .inner .cont div.situation-box {display: block;  position: relative; padding:0; border-right: 1rem solid #14171e; height: calc(100% - 38.61rem); box-sizing: border-box;}
.wrap .main .content > .inner .cont .situation-box > .inner{ position: relative; display: flex; flex-wrap : wrap; align-items: flex-start; align-content:flex-start; flex-direction: row; max-height:100%; padding:7rem 7rem 0; overflow:auto; box-sizing: border-box; }
.wrap .main .content > .inner .cont .situation-box > .inner::-webkit-scrollbar {
    display: block;
    width:1rem;
    background:#000;
  }
  .wrap .main .content > .inner .cont .situation-box > .inner::-webkit-scrollbar-thumb {
    background-color: #49CDC6;
  }
  .wrap .main .content > .inner .cont .situation-box > .inner::-webkit-scrollbar-track {
    background-color: #000;
  }

.wrap .main .main-tap .menu div{cursor:pointer;}

/* table style 나중에 style에 옮기가 .graph-area table th*/
.graph-area table th.th_type02, .graph-area table td.th_type02{font-size:12rem; text-align:left;}


/* style.css 삭제 */
.top-chart .inner::before{display:none !important;}
.top-chart .inner{overflow:visible !important;}









/* 트리메뉴
.tree-area .tree{margin-top: 55rem; padding-bottom: 20rem;}
.tree-area .tree, 
.tree-area .tree ul{padding-left:20rem;}
.tree-area .tree li {padding:10rem 0 10rem; position: relative;}
.tree-area .tree li.closed ul{display:none;}
.tree-area .tree li.closed .tree_arr_btn{transform:rotate(-90deg);}
.tree-area .tree li::before {content: ''; display: block; position: absolute; top:12rem; left:6rem; bottom:0; border-left: 1rem dotted #fff;}
.tree-area .tree li:last-of-type::before {display: none;}
.tree-area .tree label{position:relative; cursor: pointer; font-size: 12rem; color: #fff; ;}
.tree-area .tree .tree_arr_btn{display:inline-block; width:13rem; height: 13rem; font-size:0; vertical-align:middle; transform-origin:50%; background:url(../../images/icon/tree_arrow.svg) no-repeat;}
.tree-area .tree label.lastTree:before{content:'';}

.tree-area .tree label span{padding:0 0 0 33rem;}
.tree-area .tree label span::after {content: ''; position:absolute; top:0; left:16rem; display: inline-flex; width: 13rem; height: 13rem; background: url(../images/icon/tree_folder.svg) no-repeat;}
.tree-area .tree li.file label span::after {background-image: url(../../images/icon/tree_file.svg); }
.tree-area .tree li.file .tree_arr_btn{background-image:none;}

.tree-area .tree input[type="checkbox"] { -moz-appearance: none; -webkit-appearance: none; -ms-appearance: none; appearance: none; display: inline-flex; margin-right: -2em; opacity: 0; width: 1em; z-index: -1; } 
.tree-area .tree input[type="checkbox"] + span { text-decoration: none; color: #fff; cursor: pointer; display: inline-flex;  position: relative; } 
.tree-area .tree input[type="checkbox"] + span:before {content:""; position:absolute; top:0; left:0; display: inline-flex; width: 13rem; height: 13rem; background: rgba(0, 0, 0, 0.05) url(../images/icon/tree_chk.svg) no-repeat;}
.tree-area .tree input[type="checkbox"]:checked + span:before {color: #fff; border: none; background: url(../images/icon/tree_chked.svg) no-repeat;} 

.tree-area .tree input[type="checkbox"] + label {padding:0;}
.tree-area .tree input[type="checkbox"] {display: none;}
.tree-area .tree input[type="checkbox"]:checked ~ ul {display: none;}

 */


/* 트리메뉴  */
.tree-area .tree{height:100%; padding-top: 11rem; padding-bottom: 20rem; border:1rem solid #141820; overflow:auto; background:#252b37;}
.tree-area .tree, 
.tree-area .tree li {position: relative;}
.tree-area .tree li.closed ul{display:none;}




.tree-area .tree li:last-of-type::before {display: none;}


.tree-area .tree label{position:relative; display:block; min-height:23rem; padding:0 40rem 5rem 30rem; cursor: pointer; font-size: 12rem; color: #fff; border:1px solid transparent;}
.tree-area .tree label.lastTree:before{content:'';}

.tree-area .tree label span{padding:0 0 0 33rem;}
.tree-area .tree label span::after {content: ''; position:absolute; top:0; left:16rem; display: inline-flex; width: 13rem; height: 13rem; background: url(../images/icon/tree_folder_open.svg) no-repeat;}
.tree-area .tree li.closed label span::after{background-image: url(../images/icon/tree_folder.svg);}
.tree-area .tree li.file label span::after {background-image: url(../../images/icon/tree_file.svg);}


.tree-area .tree input[type="checkbox"] { -moz-appearance: none; -webkit-appearance: none; -ms-appearance: none; appearance: none; display: inline-flex; margin-right: -2em; opacity: 0; width: 1em; z-index: -1; } 
.tree-area .tree input[type="checkbox"] + span {position: relative; top:3rem; display:inline-block; white-space:pre-line; word-break:break-all; color: #C2C2DB; cursor: pointer;} 
.tree-area .tree input[type="checkbox"] + span:before {content:""; position:absolute; top:0; left:0; display: inline-flex; width: 13rem; height: 13rem; background: rgba(0, 0, 0, 0.05) url(../images/icon/tree_chk.svg) no-repeat;}
.tree-area .tree input[type="checkbox"]:checked + span:before {color: #fff; border: none; background: url(../images/icon/tree_chked.svg) no-repeat;} 

.tree-area .tree input[type="checkbox"] + label {padding:0;}
.tree-area .tree input[type="checkbox"] {display: none;}
.tree-area .tree input[type="checkbox"]:checked ~ ul {display: none;}

.tree-top-check-area{display:flex; align-items:center; justify-content:flex-start; height:30rem; border-style:solid; border-color:#141921; border-width:1px 1px 0 1px; padding:0 0 0 15rem;}
.tree-top-check-area + .tree{height:calc(100% - 30rem);}


.checkbox-type{display:inline-block;}
.checkbox-type label span{padding:0 0 0 33rem;}
.checkbox-type input[type="checkbox"]{position:fixed; top:-1000%; left:-1000%;}
.checkbox-type input[type="checkbox"] { -moz-appearance: none; -webkit-appearance: none; -ms-appearance: none; appearance: none; display: inline-flex; margin-right: -2em; opacity: 0; width: 1em; z-index: -1; } 
.checkbox-type input[type="checkbox"] + span {position: relative; display:inline-block; padding:0; white-space:pre-line; word-break:break-all; color: #C2C2DB; vertical-align:top; cursor: pointer;} 
.checkbox-type input[type="checkbox"] + span:before {content:""; position:relative; display: inline-flex; width: 13rem; height: 13rem; vertical-align:middle;  background: rgba(0, 0, 0, 0.05) url(../images/icon/tree_chk.svg) no-repeat;}
.checkbox-type input[type="checkbox"]:checked + span:before {color: #fff; border: none; background: url(../images/icon/tree_chked.svg) no-repeat;} 

.checkbox-type input[type="checkbox"] + label {padding:0;}
.checkbox-type input[type="checkbox"] {display: none;}
.checkbox-type input[type="checkbox"]:checked ~ ul {display: none;}

.checkbox-type .icon_wastebaskt{margin-left:10px; vertical-align:middle;}


/* hover */
/* .tree-area .tree li:hover:after{background-color:#1F242F;} */
.tree-area .tree label:hover{background-color:#1F242F;}
.tree-area .tree label.active{border-color:#49cdc6; background-color:#1F242F;}
.tree-area .tree label:after:hover{content:""; position:absolute; top:-1rem; left:-1rem; right:-1rem; bottom:-1rem; z-index:20; border:1rem solid #49cdc6;}
.tree-area .tree .tree_arr_btn{background-color:#1F242F;}
/* .tree-area .tree li:hover > .tree_arr_btn:after{background-color:#1F242F;} */

/* 트리 왼쪽 라인 */
.tree-area .tree li::before {content: ''; position: absolute; top:23rem; left:21rem; bottom:0; z-index:10; border-left: 1rem dotted #C2C2DB;}
.tree-area .tree ul li.file > .tree_arr_btn:before{content:""; position:absolute; top:-2rem; bottom:-7rem; left:6rem; border-left:1rem dotted #C2C2DB;}
.tree-area .tree ul li.file:first-child > .tree_arr_btn:before{top:-3rem}
.tree-area .tree ul li.file:last-child > .tree_arr_btn:before,
.tree-area .tree ul li.file:last-child > .tree_arr_btn:after{
    content:"";
    position:absolute;
}
.tree-area .tree ul li.file:last-child > .tree_arr_btn:before{top:-3rem; bottom:7rem; left:6rem; border-left:1rem dotted #C2C2DB;}
.tree-area .tree ul li.file:last-child > .tree_arr_btn:after{top:50%; right:0; left:6rem; border-top:1rem dotted #C2C2DB;}

.addDottedLine::after{content:""; position:absolute; top:22rem; bottom:0; border-left:1px dotted #fff;}
.tree-area .tree ul li:not(.closed):not(.file) > label::after{content:""; position:absolute; top:22rem; bottom:0; border-left:1px dotted #C2C2DB;}

/* 트리 삭제 */
.tree-area .tree .tree_del_btn{position:absolute; top:0; right:0; display:none; width:23rem; height:23rem; font-size:0; background:url(../../images/icon/tree_del_btn.svg) no-repeat center center;}
.tree-area .tree .tree_del_btn.on{display:block;}
/* .tree-area .tree .tree_del_btn:hover{background-color:red;} */



/* 트리 버튼  */
.tree-area .tree .tree_arr_btn{position:absolute; top:4rem; left:15rem; z-index:10; display:inline-block; width:13rem; height: 13rem; font-size:0; vertical-align:middle; transform-origin:50%; background: url(../../images/icon/tree_arrow.svg) no-repeat;}
.tree-area .tree li.closed .tree_arr_btn{transform:rotate(-90deg);}
.tree-area .tree li.file .tree_arr_btn{background-image:none;}
/* .tree-area .tree .tree_arr_btn:after{content:""; position:absolute; top:calc(-100% - 5rem); left:0; width:100%; height:calc(100% + 5rem); background:#252b37;} */

/* 트리 2depth */
.tree-area .tree li > ul > li::before{left:39rem;}
.tree-area .tree li > ul > li > label{padding-left:46rem;}
.tree-area .tree li > ul > li > .tree_arr_btn{left:33rem;}

/* 트리 3depth */
.tree-area .tree li > ul > li > ul > li::before{left:55rem;}
.tree-area .tree li > ul > li > ul > li > label{padding-left:62rem;}
.tree-area .tree li > ul > li > ul > li > .tree_arr_btn{left:49rem;}

/* 트리 4depth */
.tree-area .tree li > ul > li > ul > li > ul > li::before{left:71rem;;}
.tree-area .tree li > ul > li > ul > li > ul > li > label{padding-left:78rem;}
.tree-area .tree li > ul > li > ul > li > ul > li > .tree_arr_btn{left:65rem;}
.tree-area .tree li > ul > li > ul > li > ul > li > label::after{left:86rem;}

/* 트리 5depth */
.tree-area .tree li > ul > li > ul > li > ul > li > ul > li::before{left:87rem;;}
.tree-area .tree li > ul > li > ul > li > ul > li > ul > li > label{padding-left:94rem;}
.tree-area .tree li > ul > li > ul > li > ul > li > ul > li >  .tree_arr_btn{left:81rem;}




/* 캘린더 팝업 */
.leftFlayingpopUp{transition:width ease 0.5s;}
.slide-pop {position: fixed; right:0; bottom:5rem; width: 0px; height: calc(100% - 120rem); overflow:hidden; background: red; z-index: 3;}
.slide-pop .popup {position: absolute; background: #252B37; top:0; left:0; border: 1px solid #12151d;  width: 475px; height: 100%; z-index: 2; box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5)}
.slide-pop .popup .top {background: #232b38; display: flex; justify-content: space-between; align-items: center; height: 31rem; padding:0 10rem; position: relative;border-bottom: 1px solid #12141c}
.slide-pop .popup .top .tit {color:#00d1c7; font-size: 12rem;}
.slide-pop .popup .top .btn-closed {display: flex; justify-content: center; align-items: center; width: 31rem; height: 31rem; position: absolute; top:0; right: 0;}
.slide-pop .popup .top .btn-closed::before {display: block; content: ''; width: 10rem; height: 10rem; background: url(../images/common/closed.svg) no-repeat; background-size: cover;}



.slide-pop .popup .btn-log {display: flex; align-items: center; justify-content: flex-end; padding-right: 20rem;}
.slide-pop .popup .btn-log .btn.small {width: 94rem; height: 23rem; font-size: 11rem;}



.slide-pop .popup .result {display: flex; align-items: center; justify-content: flex-end; padding-top: 5rem; padding-right: 30rem; border-top: 1px solid #1c1e24;}
.slide-pop .popup .result .icon-fail {font-size: 10rem; color:#ff5059;}
.slide-pop .popup .result .icon-fail::before {display: inline-flex; vertical-align: middle; margin-right: 5rem; content: ''; background: url(../images/common/icon_fail.svg) no-repeat; background-size: cover; width: 13rem; height: 13rem;}
.slide-pop .popup .result .icon-fail + .icon-success {margin-left: 10rem;}
.slide-pop .popup .result .icon-success {font-size: 10rem; color:#00d1c7;}
.slide-pop .popup .result .icon-success::before {display: inline-flex; vertical-align: middle; margin-right: 5rem; content: ''; background: url(../images/common/icon_success.svg) no-repeat; background-size: cover; width: 13rem; height: 13rem;}

.slide-pop .popup .cont {overflow-y: scroll; height: calc( 100% - 55rem);}
/* .slide-pop .popup .cont ul li:nth-child(odd) {background: #1f242f;} */
.slide-pop .popup .cont ul li {background: #252b37; color:#fff; display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #12141c; height: 55rem; padding: 5rem 10rem 5rem;}
.slide-pop .popup .cont ul li.active {background: #434f67;}
.slide-pop .popup .cont ul li:hover {box-shadow: 0 0 0 2px #33797a inset; transition: all 0.5s;}

/* .slide-pop .popup .cont .txt {display: flex; align-items: center; justify-content: space-between;} */
.slide-pop .popup .cont .txt p {font-size: 12rem;}
/* .slide-pop .popup .cont .txt p + p {margin-left: 10rem;} */
.slide-pop .popup .cont .icon-fail {display: block; background: url(../images/common/icon_fail.svg) no-repeat; background-size: cover; width: 23rem; height: 23rem;}
.slide-pop .popup .cont .icon-success {display: block; background: url(../images/common/icon_success.svg) no-repeat; background-size: cover; width: 23rem; height: 23rem;}
.slide-pop .popup .cont .btn {width: 67rem; height: 30rem; border-radius: 3rem; font-size: 12rem;;}
.slide-pop .popup::after {display: block; content: ''; height: 15rem;}

/* 세그멘트 */
.segment{display:inline-block; width:100%; height:33rem;}
.segment > ul{display:flex; height:100%;}
.segment > ul > li{flex:1; display:flex; align-items:center; justify-content:center; cursor:pointer; background:#333A48;}
.segment > ul > li.active{ color: #000; background: #49CDC6;}
.segment > ul > li:first-child{border-radius:5rem 0 0 5rem;}
.segment > ul > li:last-child{border-radius:0 5rem 5rem 0;}


/* modal */
.modal-popup{position:fixed; top:0; right:0; bottom:0; left:0; z-index:100; display:none; align-items:center; justify-content:center;  background:rgba(0,0,0,0.3);}
.modal-popup.open{display:flex;}
.modal-popup .modal_innerWrap{ padding:20rem; border:1px solid #000; opacity:0; background:#252B37;}
.modal-popup .modal_innerWrap .fields{margin-bottom:0;}
.comparison-layout-box > ul{display:flex; align-items:stretch; height:100%;}
.comparison-layout-box > ul > li{height:100%;}
.comparison-layout-box > ul > li .tree-area{height:100%;}
.comparison-layout-box > ul > li:not(:nth-child(2)){flex:1;}
.comparison-layout-box > ul > li:nth-child(2){display:flex; align-items:center; justify-content:center; width:60rem;}
.modal-popup .btn-set{display:flex; margin-top:25rem;}
.modal-tit{font-size:16rem; text-align:center; padding:0 0 10rem 0;}

.openModal{animation:modalOpen ease-in-out 1s forwards;}
@keyframes modalOpen{
    0%{transform:scale(1); opacity:0;}
    50%{transform:scale(1.2);}
    100%{transform:scale(1); opacity:1;}
}
.closeModal{animation:modalClose ease-in-out 1s forwards;}
@keyframes modalClose{
    00%{transform:scale(1); opacity:1;}
    50%{transform:scale(1.2);}
    100%{transform:scale(1); opacity:0;}
}

.modal_both_btns{display:flex; justify-content:center; padding:15rem 0 0;}
.modal_both_btns .btn + .btn{margin-left:5rem;}

.sub-tit{display: flex; align-items: center; margin-bottom: 15rem;}
.sub-tit:before{display: block;content: '';background: url(../images/icon/label.svg) no-repeat;width: 5.4rem;height: 6.22rem;margin-right: 7rem;}

.modal_icon_close_btn{position:absolute; top:7rem; right:7rem; width:30rem; height:30rem; cursor:pointer; background:url(../../images/icon/icon_modal_x.svg) no-repeat center;}

.dotted-range-layout{position:relative; padding:0 0 0 50rem;}
.dotted-range-layout > ul:after{content:""; position:absolute; top:0; bottom:0; left:17rem; width:1rem; background:#fff;}
.dotted-range-label{position:relative;}
.dotted-range-layout > ul > li:last-child .dotted-range-label:after{top:auto; bottom:0;}
.dotted-range-label:after{content:""; position:absolute; left:-25rem; top:0; transform:translate(-100%,0); width:16rem;; height:16rem; border-radius:100%; background:#fff;}
.dotted-range-label dt{font-size:12rem; color:#fff;}
.dotted-range-label dd{font-size:12rem; color:#49CDC6;}
.dotted-range-layout > ul > li.con{padding:20rem 0;}
.dotted-range-layout > ul > li.con .con-wrap{height:257rem; padding:0 0 0 15rem; overflow:auto; border:1px solid #000;}
.dotted-range-layout > ul > li.con .con-wrap .simple-dot-list{padding-top:10rem; padding-bottom:10rem;}


/* rect btn */
.btnRect{width:25rem; height:25rem; font-size:0; border:1px solid #7D8595;}
.btnRect.icon_arr{background:url(../../images/icon/icon_rectBtn_arr.svg) no-repeat center;}

/* range */
.range-wrap{position:relative; display:inline-block;}
.range-box{position:relative; width:calc(100% - 50rem); height:26rem;}
.range-wrap > .txt{position:absolute; top:0; right:0; width:25rem; height:26rem; padding:0; font-size:10rem; color:#49CDC6; font-weight:bold; text-align:left; line-height:2.5; background:transparent;}
.trail, .range-box > .rect_left{position:absolute; top:calc(50% - 1rem); height:2rem; border-radius:5px;}
.trail{left:0; right:-12rem;; background:#707070;}
.range-box > .rect_left{left:0; z-index:5; background:#49CDC6;}
.range-box > .thumb{position:absolute; top:calc(50% - 6rem); left:0; z-index:10; width:12rem; height:12rem; border-radius:100%; background:#49CDC6;}
.range-box > .thumb:after{content:""; position:absolute; top:calc(50% - 13rem); left:calc(50% - 13rem); width:26rem; height:26rem; border-radius:100%; box-shadow:inset 0 0 4px 1px #49CDC6;}
.range-box > input[type = text]{position:absolute; top:0; right:20rem; transform:translate(100%,0); width:20rem; height:26rem; padding:0; font-size:10rem; color:#49CDC6; font-weight:bold; background:transparent; opacity:0;}
.tooltip-range-time{position:absolute; top:-100%; left:0; padding:5rem 10rem; font-size:10rem; color:#000; border:1rem solid #D8D8D8; border-radius:15rem; white-space:nowrap; transform:translate(-50%,calc(-100% - 50rem)); background:#fff;}
.ruler-time-line .tooltip-range-time{top:0; left:50%; transform:translate(-50%, -35rem);}
.tooltip-range-time:after{content:""; position:absolute; bottom:-3rem; left:50%; width:9rem; height:6rem; border:1rem solid #D8D8D8; border-width:0 0 1rem 1rem; transform:translate(-50%,0) rotate(-45deg); background:#fff;}

div.satellite .bottom-ruler > .ruler > ul li .time.selected{color:#00d1c7;}

/* style1 합치기 */
.wrap .header .user-area > ul > li .setting > .innerWrao{position: relative; right:0; top: 0; width: 115rem; height:0; transition:height linear .2s; overflow:hidden;}
.wrap .header .user-area > ul > li .setting.open > .innerWrao{height:62px;}
.wrap .header .user-area > ul > li .setting > .innerWrao > ul{position:absolute; bottom:0; width:100%;}

/* 모달팝업 input 영역 */
.input-area-layout .segment{margin-bottom:10rem;}
.input-area-layout + .input-area-layout{margin-top:10rem;}

/* input date */
.range-input{position:relative; display:flex; justify-content:space-between;}
.range-input:after{content:"~"; position:absolute; top:50%; left:50%; font-size:12rem; transform:translate(-50%,-50%)}
.range-input input[type = text][name = date]{width:calc(50% - 7rem);}
input[type = text][name = date] {padding-left:30rem; color:#fff; background-image: url(../images/sate/icon_calendar2.svg); background-repeat:no-repeat; background-position:13rem center;}

/* 안내 글씨 */
.info-text-right{height:25rem; padding:7rem 0; font-size:11rem; color:#49CDC6; text-align:right;}
.info-text-left{height:25rem; padding:5rem 0; font-size:11rem; color:#49CDC6; text-align:left;}


/* layout */
.input-checkbox-layout > .menu-wrap{display:flex; flex-wrap:wrap;}
.input-checkbox-layout > .menu-wrap > .item{width:calc(100% / 3);}
.input-checkbox-layout > .menu-wrap > .item .checkbox input[type="checkbox"] + label{white-space:pre-wrap; word-break:break-all;}
.input-checkbox-layout > .menu-wrap > .item:nth-child(1n + 4){margin-top:11rem;}

/* satellite */ 
div.satellite .bottom-ruler{padding:35rem 23rem 13rem 23rem;}/* style1 padding값 수정 */
div.satellite .bottom-ruler > .ruler > ul li{width:auto; flex:1;}
div.satellite .bottom-ruler > .ruler > ul li:last-child{flex:0;}
div.satellite .bottom-ruler > .ruler > ul li .time{transform:translate(-50%,0);}
/* div.satellite .bottom-ruler > .ruler > ul li.selected .time{color:#49CDC6;}
div.satellite .bottom-ruler > .ruler > ul li.selected:before{top:-3rem; height:calc(100% + 10rem); background-color:#00d1c7;} */
.range-time-box{position:absolute; left:0; bottom:0; right:0; display:flex; align-items:stretch; height:16rem;}
.range-time-box > .current{position:absolute; top:0; bottom:0; display:flex; justify-content:center; flex:1; background:#40999C;}
.range-time-box > .current:after, .range-time-box > .current:before, .range-time-box > .next:before{content:""; position:absolute; top:-18rem; bottom:-5rem; width:1rem; background:#40999C;}
.range-time-box > .current:after{left:0; background:#40999C;}
.range-time-box > .current:before{right:0; background:#40999C;}
.range-time-box > .next:before{right:0; background:#AA7246;}
.range-time-box > .next{position:absolute; top:0; bottom:0; display:flex; justify-content:center; flex:1; background:#AA7246;}
.range-time-box > .empty{flex:0;}
.range-time-box .hidden_bar .tooltip-range-time, .range-time-box .hidden_bar [class ^= btn-]{display:none;}
.range-time-box .hidden_box{display:none;}


.satellite .bottom-ruler .ruler .range-time-box .btn-a{top:0; left:3rem; right:auto; transform:translate(calc(-50% - 3rem),calc(-100% - 36rem));}
.satellite .bottom-ruler .ruler .range-time-box .btn-b{top:0; left:2rem; right:auto; transform:translate(calc(-50% - 3rem),calc(-100% - 36rem));}
.satellite .bottom-ruler .ruler .range-time-box .btn-c{top:0; left:auto; right:0; transform:translate(50%,calc(-100% - 36rem));}
.satellite .bottom-ruler .ruler .range-time-box .current .btn-c{right:auto; left:0; transform:translate(-50%,calc(-100% - 36rem))}
.satellite .bottom-ruler .ruler .range-time-box .next .btn-c.l{right:auto; left:0; transform:translate(-50%,calc(-100% - 36rem))}
.satellite .bottom-ruler .ruler .range-time-box .next .btn-c.r,.satellite .bottom-ruler .ruler .range-time-box .next .btn-b.r{right:0; left:auto; transform:translate(50%,calc(-100% - 36rem))}


.satellite .bottom-ruler .ruler .time-line-box{position: absolute; top: 12rem; left: 0; z-index: 2;}
.satellite .bottom-ruler .ruler .time-line-box.hidden_box{display:none;}


.satellite .bottom-ruler .ruler .range-time-box .btn-a,
.satellite .bottom-ruler .ruler .range-time-box .btn-b,
.satellite .bottom-ruler .ruler .range-time-box .btn-c,
.tooltip-range-time,
.satellite .bottom-ruler .ruler .time-line-box{
  opacity:0; transition:opacity ease 0.5s;
}
.satellite.active .bottom-ruler .ruler .range-time-box .btn-a,
.satellite.active .bottom-ruler .ruler .range-time-box .btn-b,
.satellite.active .bottom-ruler .ruler .range-time-box .btn-c,
.satellite.active .tooltip-range-time,
.satellite.active .bottom-ruler .ruler .time-line-box{
  opacity:1;
}


.satellite .bottom-ruler .ruler .time-line-box.hidden_tooltip .tooltip-range-time{display:none;}
.satellite .bottom-ruler .ruler .ruler-time-line{position:relative; width: 19.49rem; height: 22.28rem; transform: translate(-50%,calc(-100% - 36rem)); background: url(../images/sate/icon_c.svg) no-repeat; background-size: cover;}
.satellite .bottom-ruler .ruler .ruler-time-line:before{content:""; position:absolute; left:50%; bottom:0; width:1px; height:50rem; transform:translate(0,100%); background:#00FFDC;}


div.satellite .bottom-item{z-index:5;}
/* div.satellite .bottom-item{height:94rem}
div.satellite .bottom-ruler{padding-top:52rem;} */




/*  */
.searchArea{display:none;}
.searchMode > .searchArea{display:block;}
.searchMode > .menuArea{display:none;}
.layer-area .item .opacity{display:none;}
.layer-area .item.open .opacity{display:block;}
.layer-area.searchArea{height:100%;}
.shadowBox{position:fixed; width:150px; height:150px; transform:translate(-50%,-50%); background:#000;}

/* .layer-area .item */
.drag-item-wrap.moving .item:hover{opacity:0.5}

/* thum-layer */
.thum-layer.moving .item:hover{opacity:0.5}
/* .tab-con-wrap.depth2 .tab-con-area .layer-area{height:100%;} */
.tab-con-wrap.depth2 .tab-con-area .thum-layer{height:calc(100% - 35rem); overflow:auto;}

/* .satellite .bottom-ruler */
.satellite .bottom-ruler.showSwitch{display:flex;}
.satellite .bottom-ruler.showSwitch .ruler{width:calc(100% - 100rem);}
.satellite .bottom-ruler.showSwitch .bottom-switch{position:absolute; top:0; right:0; bottom:0; display:flex; align-items:center; justify-content:center; width:100rem; background:#12141C;}

/* left tab */
.tab-con-wrap{height:100%;}
.tab-con-wrap.depth1{height:calc(100% - 109px);}
.tab-con-wrap.depth2{height:calc(100% - 35px);}
.tab-con-wrap.depth3{height: calc(100% - 35rem);}
.tab-con-wrap.depth3.area{height: calc(100% - 65rem);}
.tab-con-area{display:none; height:100%; overflow:auto;}
.tab-con-area.active{display:block;}
.tab-area{height:100%; overflow:auto;}
.drag-item-wrap.addFlyingBtn{padding-bottom:40rem;}

/* 좌측드롭다운 메뉴 */
.satellite .left-item .bottom-menu{z-index:5; display:none;}
.satellite .left-item .bottom-menu.open{display:block;}
.bottom-menu .menu-wrap{position:relative; z-index:5; height:0rem; overflow:hidden; transition:height ease 0.5s;}
.bottom-menu .menu-wrap > .innerWrap{position:absolute; top:0; left:0; right:0;}
.bottom-menu .bottom-btn{position:relative; z-index:5;}
.bottom-menu .bottom-btn .btn:before{content:"추가"}
.bottom-menu.menuOpen .bottom-btn .btn:before{content:"비교대상추가 +"}
.satellite .left-item .bottom-menu:after{content:""; position:absolute; bottom:-5px; left:-10rem; right:-10rem; z-index:1; height:65rem; background:linear-gradient(0,rgba(36,43,56,1) 0%,rgba(36,43,56,1)50%, rgba(36,43,56,0)) 100%; }
.popDeemded{position:absolute; bottom:0; left:-10rem; right:-10rem; display:none; opacity:0.89; background:#1D222C;}
.menuOpen .popDeemded{display:block;}

/*  */
.lnb-tab-sub-tit{display:flex; align-items:center; height:28rem; font-size:12rem; color:#fff; padding:0 0 0 15rem;}

/* tab icon */

.tab-tit-wrap.onlyIcon > .btn-tab > button{color:#fff;}
.tab-tit-wrap.onlyIcon > .btn-tab.active > button{color:#49CDC6;}

/* reset */
.colorWhite{color:#fff !important;}


.satellite .left-item .bottom-calendar .date-area > div:first-child .tit:before{content:"Period selectiont"}
.satellite .left-item .bottom-calendar .date-area > div:last-of-type .tit:before{content:""; display:inline-block; height:9rem;}
.satellite .left-item .bottom-calendar .date-area.date > div:first-child .tit:before{content:"Start"}
.satellite .left-item .bottom-calendar .date-area.date > div:last-of-type .tit:before{content:"End";}


/*  */
.satellite .left-item .date-area .btn-play.edit:before{width:13rem; height:13rem; background-image:url(../images/icon/icon_playEdit.svg);}
.satellite .left-item .date-area .btn-play.hide{display:none;}


/* */
.satellite .bottom-switch.hidden{display:none;}


/**/

.drag_horizontal_wrap.active{display:block;}
.drag_horizontal_wrap{position:fixed; top:0; bottom:0; left:0; right:0; z-index:1; display:none;}
.drag_horizontal_line{position:absolute; top:0; bottom:0; left:50%; width:1rem; cursor:col-resize; background:#00FFFF;}
.drag_horizontal_line:after{content:""; position:absolute; top:0; bottom:0; left:-5rem; width:10px; cursor:col-resize;}
.drag_horizontal_wrap .map{position:absolute; top:0; bottom:0; left:0; right:50%; overflow:hidden;}
.drag_horizontal_wrap .map img{position:absolute; top:0; left:0; bottom:0; width:100vw;}
.drag_horizontal_wrap .map.temp_bg{width:942rem; height:100%;background:url(../images/weather_bg2.svg) no-repeat; background-size:auto 110%;}
/* .satellite.active .drag_horizontal_line{opacity:1; z-index:30;} */


/**/
.dummy-box{position:fixed; opacity:1; z-index:100;}
.dummy-box.t{transition:all ease 0.3s;}

.dummy-box.thum-layer > .item{height:100%;}
.dummy-box.thum-layer > .item .pic{height:100%;}
.dummy-box.thum-layer > .item .pic img{height:auto;}




/* calendar */
.dummy_create_area{position:fixed; top:-1000%; left:-1000%;}
.pop-calendar{position:fixed; z-index:100;}
.pop-calendar.both .component-calendar{position:absolute; bottom:0;}
.component-calendar{/*position:fixed; bottom:75rem; z-index:10000;*/position:relative;  width:300rem; background:#323844;}
.component-calendar > .top{height:58rem;}
.component-calendar > .top > ul{display:flex; justify-content:center; align-items:center; height:100%;}
.component-calendar > .top > ul > li{position:relative; display:flex; justify-content:center; align-items:stretch; height:100%;}
.component-calendar > .top .year{flex:0 0 60%; padding:0 10rem 0 0;}
.component-calendar > .top .month{flex:0 0 40%; padding:0 0 0 10rem;}
.component-calendar > .top .month:after{content:""; position:absolute; top:calc(50% - 7rem); left:0; width:1rem; height:15rem; background:#888A8F;}
.component-calendar > .top .arr{width:30rem; height:100%; background:url(../images/icon/icon_calArr_l.svg) no-repeat center;}
.component-calendar > .top .arr.r{background-image:url(../images/icon/icon_calArr_r.svg);}
.component-calendar > .top input{width:calc(100% - 30rem); height:100%; text-align:center;}
.component-calendar > .content > ol{display:flex; align-items:flex-start; justify-content:flex-start; flex-wrap:wrap;}
.component-calendar > .content > ol > li{display:flex; align-items:center; justify-content:center; flex:0 0 calc(100% / 7); height:42rem; font-size:12rem;}
.component-calendar > .content > ol > li.p,.component-calendar > .content > ol > li.n{color:#696D75;}
.component-calendar > .content > ol > li > div{display:flex; justify-content:center; align-items:center; width:100%; height:100%; border-radius:100%; cursor:pointer;}
.component-calendar > .content > ol > li:hover > div{background:rgba(255,255,255,0.15);}
.component-calendar > .content > ol > li.today{color:#1D222C;}
.component-calendar > .content > ol > li.today > div{background:#49CDC6;}
.component-calendar > .content > ol > li.selected{color:#1D222C;}
.component-calendar > .content > ol > li.selected > div{background:#49CDC6;}
.component-calendar > .content > ol > li.p.today > div,.component-calendar > .content > ol > li.n.today > div{background:rgba(73,205,198,0.15);}


/**/
.icon_wastebaskt{display:inline-block; width:11px; height:12px; vertical-align:top;  background:url(../images/icon/icon_wasterbasket.svg) no-repeat center;}